.box-top-board {
  padding-left: 8vw;
  padding-top: 4vh;
  background-color: #058392;
  color: white;
  height: 20vh;
}

.coin-pic {
  height: 25vh;
  background-image: url("../../assets/images/people-ConvertImage.jpg");
  background-size: cover;
  background-position: 0% 65%;
}


/*************************/


.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  
  min-width: 230px;
  max-width: 450px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
  margin-left: 34vw;
  margin-top: 4vh;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #368090;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: black;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #368090;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

a {
  font-size: 25px;
  margin-left: 0.5vw;
  color:white;
}

i {
  font-size: 25px;
  margin-right: 0.5vw;
}

.create {
  background-color: #f9cf00;
  color: black;
  padding: 1vh 1vw;
  margin-right: 1vw;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0vh;
  text-align: center;
}

button {
  border-radius: 7px;
  background-color: rgb(240, 193, 25);
}

h1 {
  margin-bottom: 6vh;
}

input {
  border-radius: 5px;
  padding: 1vh 1vw;
}