<h1> Detalle del anuncio </h1>

<div *ngIf="ad">
  <h3>{{ ad.quantity }} {{ ad.have }} to {{ ad.want }} - {{ ad.city }}
    <br> by {{ ad.creator.username }} </h3>
  <br>
  <button [routerLink]="['/ad/edit',ad._id]">Edit Ad</button>
</div>



<a [routerLink]="['/ads']"> Back</a>

<!-- <div *ngIf="ad">
  <div class="ad-info">
    <h3> {{ ad.creator }} </h3>
    <p> {{ ad.city }} </p>
    <label for="quantity">Quantity</label>
    <input type="number" [(ngModel)]="quantity" name="quantity" />
    <br>
    <label for="have">Have</label>
    <input type="text" [(ngModel)]="have" name="have" />
    <br>
    <label for="want">Want</label>
    <input type="text" [(ngModel)]="want" name="want" />
    <br>
    <label for="ratio">Ratio</label>
    <input type="number" [(ngModel)]="ratio" name="ratio" />
    <br>
    <label for="total">Total</label>
    <input type="number" [(ngModel)]="total" name="total" />

    <a [routerLink]="['/edit',ad._id]">Editar teléfono</a>
      <button (click)="deletead()"> Borrar teléfono </button>
  </div>
</div> -->