@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);



.box-top-board {
  padding-left: 8vw;
  padding-top: 4vh;
  background-color: #058392;
  color: white;
  height: 20vh;
}

.snip1540 {
  box-shadow: none !important;
  color: #141414;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0vh 0vw;
  max-width: 20vw;
  min-width: 230px;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1540 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1540 .profile-image img {
  border-radius: 5px;
  max-width: 100%;
  height: 80px;
  vertical-align: top;
  float: left;
}

.snip1540 figcaption {
  background-color: #058392;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-top: 0vh;
  padding: 25px;
  position: relative;
  width: 100%;
}


.snip1540 h3,
.snip1540 h4,
.snip1540 p {
  margin: 0 0 5px;
}

.snip1540 h3 {
  font-weight: 600;
  font-size: 1.2em;
  font-family: 'Montserrat', Arial, sans-serif;
}

.snip1540 h4 {
  color: #8c8c8c;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1540 p {
  font-size: 1em;
  letter-spacing: 1px;
  opacity: 0.9;
  font-weight: bold;
}

.snip1540 .icons {
  padding: 20px 90px;
}

.snip1540 i {
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  opacity: 0.75;
  padding: 10px 2px;
}

.snip1540 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}


/* Demo purposes only */



body {
  background-color: #212121;
  text-align: center;
}

.ads-container {
  width: 100%;
  text-align: center;
}

.card__wrapper {
  border: 10px solid #ffffff;
}

h2 {
  color: #f9cf00;
}

h3 {
  color: black;
}

.coin-pic {
  height: 25vh;
  background-image: url("../../assets/images/people-ConvertImage.jpg");
  background-size: cover;
  background-position: 0% 65%;
}

.contain-ad h1 {
  margin-left: 40vh;
}

/************************/

@import url(https://fonts.googleapis.com/css?family=Open+sans);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
.snip1515 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 450px;
  width: 100%;
  color: #000000;
  text-align: center;
  line-height: 1.4em;
  font-size: 14px;
  box-shadow: none !important;
}

.snip1515 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1515 .profile-image {
  display: inline-block;
  width: 80%;
  z-index: 1;
  position: relative;
  padding: 10px;
  border: 2px solid #368090;
}

.snip1515 .profile-image img {
  max-width: 100%;
  vertical-align: top;
}

.snip1515 figcaption {
  width: 100%;
  background-color: #F2F2F2;
  color: black;
  padding: 125px 25px 25px;
  margin-top: -100px;
  display: inline-block;
}

.snip1515 h3,
.snip1515 h4,
.snip1515 p {
  margin: 0 0 5px;
}

.snip1515 h3 {
  font-weight: 600;
  font-size: 1.3em;
  font-family: 'Playfair Display', Arial, sans-serif;
}

.snip1515 h4 {
  color: black;
  font-weight: 400;
  letter-spacing: 2px;
}

.snip1515 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}

.snip1515 .icons {
  text-align: center;
  width: 100%;
}

.snip1515 i {
  padding: 10px 2px;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  color: #368090;
  opacity: 0.75;
}

.snip1515 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}




body {
  background-color: #212121;
}

button {
  border-radius: 7px;
  background-color: rgb(240, 193, 25);
}

.create {
  background-color: #f9cf00;
  color: black;
  padding: 1vh 1vw;
  margin-right: 1vw;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0vh;
  text-align: center;
}
