<h2>My Profile</h2>

<div>
  <div>
    <label for="name">Name: </label>
    <h3>{{user.username}}</h3>
    <label for="email">Email:</label>
    <h3>{{user.email}}</h3>
    <label for="city">City: </label>
    <h3>{{user.city}}</h3>
    <img [src]="user.image" width=100/>
  </div>
</div>


<div id="reviewStars-input">
    <input id="star-4" type="radio" name="reviewStars"/>
    <label title="gorgeous" for="star-4"></label>
  
    <input id="star-3" type="radio" name="reviewStars"/>
    <label title="good" for="star-3"></label>
  
    <input id="star-2" type="radio" name="reviewStars"/>
    <label title="regular" for="star-2"></label>
  
    <input id="star-1" type="radio" name="reviewStars"/>
    <label title="poor" for="star-1"></label>
  
    <input id="star-0" type="radio" name="reviewStars"/>
    <label title="bad" for="star-0"></label>
  </div>

  <button [routerLink]="['/edit',user._id]">Edit profile</button>


  <div>
    <div *ngFor="let myads of adList">
    <h3>{{ myads.quantity }} {{ myads.have }} to {{ myads.want }} - {{ myads.city }}
      <br> by {{ myads.creator.username }} </h3>
    </div>
  </div>