.coin-pic {
  height: 25vh;
  background-image: url("../../assets/images/tools2.jpg");
  background-size: cover;
  background-position: 100%;
}

table {
  width: 25vw;
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
}

thead td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
thead tr {
  background-color: #058392;
}
td {
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.chart-coin {
  width: 80%;
  margin-top: 19vh;
  margin-left: 5vw;
}

.box-top-board {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 4vh;
  color: white;
}

.box-mini-filter {
  padding-right: 2vw;
}

form {
  color: white;
}

input,
select {
  color: black;
}

.create-convert {
  background-color: #f9cf00;
  color: black;
  padding: 1vh 6vw;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4vh;
}

.create-week {
  background-color: #f9cf00;
  color: black;
  padding: 1vh 2.7vw;
  font-size: 20px;
  font-weight: bold;
}

.container-tools {
  margin-bottom: 4vh;
  margin-left: 6vh;
  margin-right: 6vh;
  margin-top: -10vh;
}

.if-convert {
  display: block;
  margin-top: 3vh;
  margin-left: 8vh;
  font-weight: bold;
  font-size: 20px;
}

.button-yellow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-chart {
  display: flex;
  justify-content: space-around;
}

.div-table {
  margin-top: 15vh;
}

h1 {
  margin-left: -0.5em;
  margin-bottom: 1.3em;
}

label {
  margin-right: 1vw;
  font-size: 16px;
  font-weight: bold;
}

.space {
  margin-left: 2em;
}

.header {
  margin-left: 5em;
}

.header-input {
  margin-left: -3em;
  margin-bottom: 1em;
}

.header-buttons {
  margin-left: -2.6em;
}

@media (max-width: 1084px) {
  [class*="col-md-2.5"] {
    width: 100%;
  }
  .coin-pic {
    height: 20vh;
  }

  .create-convert {
    margin-bottom: 2vh;
  }
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
    text-align: center;
  }
  .coin-pic {
    height: 42vh;
  }
  .box-top-board {
    padding-left: 0;
  }
  h1 {
    margin-bottom: 0.5em;
    margin-left: 0em;
    font-size: 1.7rem;
  }
  .create {
    margin-top: 0.5em;
  }
  .create-convert {
    margin-bottom: 2vh;
  }
  .if-convert {
    width: 98%;
    text-align: center;
    margin-left: 0;
  }
  table {
    width: 0;
    margin: 0 auto;
  }
  .div-table{
    margin-top: 5vh;
  }
}
