<div class="box-top-board coin-pic">
    <h1> Currency Tools </h1>
    <div class="form-wrapper">
        <form>
            <div class="d-inline-block box-mini-filter">
                <label for="have">From: </label>
                <select name="have" [(ngModel)]="haveConvert">
                    <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
                </select>
            </div>
            <div class="d-inline-block box-mini-filter">
                <label for="want">To: </label>
                <select name="want" [(ngModel)]="wantConvert">
                    <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
                </select>
            </div>
            <div class="d-inline-block box-mini-filter">
                <label for="quantity">Quantity: </label>
                <input type="number" [(ngModel)]="quantityConvert" name="quantity" min=0 />
            </div>
        </form>
        <div class="button-yellow">
            <button class="btn create-convert" (click)="convert(quantityConvert, haveConvert, wantConvert)"> Convert</button>
            <button class="btn create-week" (click)="getDates(haveConvert,wantConvert)"> See last week currency evolution</button>
        </div>
    </div>

</div>


<div>
    <div class="if-convert" *ngIf="convertion!==undefined">
        <div>
            <p>You would receive {{convertion}} (exchange rate checked on {{ today | date:'EEEE, MMMM d, y, HH:mm:ss'}}).</p>
        </div>
    </div>
</div>

<div class="container-tools">
    <div class="row div-chart">
        
        <div *ngIf="ratioArray[6] !== undefined" class="col-12 col-md-8" style="display: block">
            <div class="chart-coin">
            <canvas baseChart [datasets]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions">
            </canvas>
            </div>
        </div>

        <div class="div-table col-12 col-md-4" *ngIf="ratioArray[0] !== undefined">
            <p>Right now, for 1 {{haveConvert}} you would receive {{ratioArray[6]}} {{wantConvert}}.</p>
            <table id="table">
                <thead *ngIf="dateArray[0] !== undefined">
                    <tr>
                        <td>Date</td>
                        <td>{{haveConvert}} / {{wantConvert}}</td>
                    </tr>
                </thead>
                <tr *ngFor="let date of dateArray; let i=index">
                    <td>{{ date }}</td>
                    <td>{{ ratioArray[i] }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>