.coin-pic {
  height: 25vh;
  background-image: url("../../assets/images/currency-banner.jpg");
  background-size: cover;
  background-position: 100%;
}

.container {
  background-color: lightblue;
  width: 70%;
  border: 2px solid darkturquoise;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
}

#title { 
  padding: 30px 20px 30px 20px;
  background-color: darkturquoise;
  color: white;
  font-size: 20px;
}     

h1 { 
  margin:-1px auto; 
}

 #description { 
   color: black;
   margin: auto;
   padding: 10px;
   text-align: center;
}

#survey-form {
  padding: 20px;
}

.input-field {
  height: 30px;
  width: 50%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#comments {
  width: 50%;
  height: 100px;
  margin: 0;
}

.q1 {
  width: 100%;
}

 #submit {
  background-color: #00ced1;
  border-radius: 5px;
  color:white;
  font-size: 1em;
  width: 100px;
  height: 40px;
  margin: 25px auto;
  border: 1px solid white;
}

#submit:active { 
  color: black; 
  border-color: #00e; 
}
 
 

footer { 
  margin:auto; 
 padding:0px 0px 0px 34em; 
}

a { 
  text-decoration: none; 
}



/*****************/


.coin-pic h1 {
  margin-bottom: 7vh;
}

.box-top-board {
  padding-left: 8vw;
  padding-top: 4vh;
  background-color: #058392;
  color: white;
}

i {
  font-size: 25px;
  margin-right: 0.5vw;
}


.container {
  background-color: lightblue;
  width: 50%;
  border: 2px solid #008493;
  margin: 2vh auto;
  overflow: hidden;
  padding-right: 0px;
  padding-left: 0px;
}

#title { 
  padding: 20px 20px 20px 20px;
  background-color: #008493;
  color: black;
  font-size: 3.5vh;
  text-align: center;
  margin-bottom: 3vh;
}     


 #description { 
   color: black;
   margin: auto;
   padding: 10px;
   text-align: center;
}

#survey-form {
  padding: 20px;
  margin-top: -3vh;
}

.input-field {
  height: 30px;
  width: 50%;
  padding: 5px;
  margin: 10px;
  margin-left: 3.8vh;
  border: 1px solid #2F5CC1;
  border-radius: 2px;
  
}

.number-field {
  height: 30px;
  width: 50%;
  padding: 5px;
  margin: 10px;
  margin-left: 5vh;
  border: 1px solid #2F5CC1;
  border-radius: 2px;
}

.dropdownHave {
  height: 30px;
  width: 50%;
  margin: 10px;
  border: 1px solid #2F5CC1;
  background-color: white;
  border-radius: 2px;
}

.dropdownWant {
  height: 30px;
  width: 50%;
  margin: 10px;
  margin-left: 4vh;
  border: 1px solid #2F5CC1;
  background-color: white;
  border-radius: 2px;
}

#comments {
  width: 50%;
  height: 50px;
  margin-left: 5.5vh;
  margin-bottom: -4.5vh;
}

#label {
  margin-bottom: 5vh;
  margin-left: 2vw;
}

#label-2 {
  margin-bottom: 1vh;
  margin-left: 2vw;

}

.q1 {
  width: 100%;
}

.buttons {
  display: flex;
  align-content: space-around;
  justify-content: center;
  }

#create {
  background-color: #f9cf00;
  border-radius: 5px;
  color:black;
  font-size: 1.5vw;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin: 25px auto;
  border: 1px solid black;
  margin-top: 3.2vw;
} 

#cancel {
  background-color: #f9cf00;
  border-radius: 5px;
  color:black;
  font-size: 1.5vw;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin: 25px auto;
  border: 1px solid black;
  margin-top: 3.2vw;
  margin-right: 10vh;
} 

footer { 
  margin:auto; 
 padding:0px 0px 0px 34em; 
}

a { 
  text-decoration: none; 
  font-size: 25px;
  margin-left: 0.5vw;
  color:white;
}


form {
  font-size: 2.5vh;
}