<div class="box-top-board coin-pic">
    <h1> Create Your Post </h1>
    <div>
        <a [routerLink]="['/ads']">
            <i class="far fa-arrow-alt-circle-left"></i>Back to Board</a>
    </div>
</div>

<div class="container">
    <h1 id="title">Complete all mandatory fields (*) and create your post!</h1>

    <form id="survey-form" action="" method="post" autocomplete="on">

        <div class="row">
            <div class="col-12 col-md-6">
                <label id="label" for="city">* City where you want to meet: </label>
            </div>
            <div class="col-12 col-md-6">
                <input class="input-field" type="text" [ngModel]="ad.city | capitalizeFirst" (ngModelChange)="ad.city=$event" name="city"
                />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label id="label" for="have">* Currency you want to get rid of: </label>
            </div>
            <div class="col-12 col-md-6">
                <select class="dropdownHave" name="have" [(ngModel)]="ad.have">
                    <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label id="label" for="quantity">* Quantity you have available: </label>
            </div>
            <div class="col-12 col-md-6">
                <input type="number" class="number-field" [(ngModel)]="ad.quantity" name="quantity" min=0 />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label id="label" for="want">* Currency you want to obtain: </label>
            </div>
            <div class="col-12 col-md-6">
                <select class="dropdownWant" name="want" [(ngModel)]="ad.want">
                    <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label id="label-2" for="comment">Additional comments (if any): </label>
                <span id="label">(characters left: {{maxLength - ad.comment.length}})</span>
            </div>
            <div class="col-12 col-md-6">
                <textarea class="input-field" name="comment" id="comments" [(ngModel)]="ad.comment" cols="40" rows="2" maxlength={{maxLength}}></textarea>
            </div>
        </div>

        <div class="buttons">
            <div>
                <a [routerLink]="['/ads']">
                    <button button id="cancel"> Cancel </button>
                </a>
            </div>
            <div>
                <button id="create" (click)="newAd()"> Create</button>
            </div>
        </div>
    </form>
</div>