<h1> Añade un nuevo anuncio </h1>
<a [routerLink]="['/ads']"> Vuelve a la lista</a>

<form>
    <label for="city">City</label>
    <input type="text" [(ngModel)]="ad.city" name="city"/>
    <br>
    <label for="quantity">Quantity</label>
    <input type="number" [(ngModel)]="ad.quantity" name="quantity"/>
    <br>
    <label for="have">Have</label>
    <input type="text" [(ngModel)]="ad.have" name="have"/>
    <br>
    <label for="want">Want</label>
    <input type="text" [(ngModel)]="ad.want" name="want"/>
    <br>

    <button (click)="newAd()"> Create</button>
</form>

<!-- <h3> {{ ad.creator }} </h3>
    <p> {{ ad.city }} </p>
    <label for="quantity">Quantity</label>
    <input type="number" [(ngModel)]="quantity" name="quantity"/>
    <br>
    <label for="have">Have</label>
    <input type="text" [(ngModel)]="have" name="have"/>
    <br>
    <label for="want">Want</label>
    <input type="text" [(ngModel)]="want" name="want"/>
    <br> -->