<div class="signup-box">
  <div class="ui raised very padded center aligned text container segment">
    <h1 class="ui header">Log In
      <i class="fas fa-sign-in-alt"></i>
    </h1>
    <br>
    <div class="field">
      <div class="ui left icon input">
        <i class="fas fa-user"></i>
        <input type="username" name="username" [ngModel]="username | capitalizeFirst" (ngModelChange)="username=$event" placeholder="Username"
          autofocus="true" #myUsr="ngModel" (keyup.enter)="login(username,password)" required>
      </div>
    </div>
    <br>
    <div class="field">
      <div class="ui left icon input">
        <i class="fas fa-unlock"></i>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password" #myPass="ngModel" required (keyup.enter)="login(username,password)">
      </div>
    </div>
    <br>

    <div class="actions">
      <button class="ui large teal button" (click)="login(username,password)">Log In</button>
    </div>
    <br>
    <p>Don't have an account?
    <a [routerLink]="['/signup']"> Sign Up </a>


    <p *ngIf="message" class="error"> {{ message }} </p>
    <div *ngIf="myUsr.errors && (myUsr.dirty || myUsr.touched) && (myPass.valid || myPass.untouched)">
      <p class="error" [hidden]="!myUsr.errors.required">
        Please, enter a valid username.
      </p>
    </div>
    <div *ngIf="myPass.errors && (myPass.dirty || myPass.touched) && (myUsr.valid || myUsr.untouched)">
      <p class="error" [hidden]="!myPass.errors.required">
        Please, enter a valid password.
      </p>
    </div>
    <div *ngIf="myPass.errors && (myPass.dirty || myPass.touched) && myUsr.errors && (myUsr.dirty || myUsr.touched)">
      <p class="error" [hidden]="!myPass.errors.required">
        Please, enter a valid username and password.
      </p>
    </div>
    
  </div>
</div>