<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 *ngIf="!sessionService.user" >WELCOME TO OKANE</h1>
  <h1 *ngIf="sessionService.user" >Welcome to Okane - {{ sessionService.user.username }}!</h1>

</div>
<ul>
  <li><a [routerLink]="['/']">HOME</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/signup']">Signup</a></li>
  <li *ngIf="!sessionService.user"><a [routerLink]="['/login']">Login</a></li>


  <li *ngIf="sessionService.user"><a [routerLink]="['/evolution']">Coins Evolution</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/profile']">My profile</a></li>
  <li *ngIf="sessionService.user"><a [routerLink]="['/ads']">Board</a></li>
  <li *ngIf="sessionService.user"><a href="#" (click)="logout()">Logout</a></li>
</ul>








<script src="./assets/js/main.js"></script>
<router-outlet></router-outlet>
