<p>
  ad-edit works!
</p>

<h2> Edit your ad </h2>


<div *ngIf="ad">
    <label>City</label>
    <input type="text" [ngModel]="ad.city | capitalizeFirst" (ngModelChange)="ad.city=$event" name="city"/>
    <br>
    <label>Quantity</label>
    <input type="number" [(ngModel)]="ad.quantity" name="quantity" min = 0/>
    <br>
    <label for="have">Have</label>
    <select name="have" [(ngModel)]="ad.have">
        <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
    </select>
    <br>
    <label for="want">Want</label>
    <select name="want" [(ngModel)]="ad.want">
        <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
    </select>
    <br>
    <div *ngIf="canEdit">
        <button (click)="edit(ad._id)"> Save </button>
    </div>
    <a [routerLink]="['/ads']">Back to board</a>
</div>