.box-top-board {
  padding-left: 8vw;
  padding-top: 4vh;
  background-color: #058392;
  color: white;
  height: 20vh;
}

.coin-pic {
  height: 25vh;
  background-image: url("../../assets/images/banner12.jpg");
  background-size: cover;
  background-position: 0% 65%;
}