
<div class="box-top-board coin-pic">
    <h1>Encuentra lo que buscas!</h1>
    <a [routerLink]="['/ads/new']">
        <button type="button" class="btn float-right create">CREA TU ANUNCIO</button>
    </a>
    <br>
    <div>
        <div class="d-inline-block box-mini-filter">
            <label for="city">City: </label>
            <input type="text" placeholder="Search by City" [ngModel]="searchCity | capitalizeFirst" (ngModelChange)="searchCity=$event">
            <br>
        </div>
        <div class="d-inline-block box-mini-filter">
            <label for="have">Currency you have: </label>
            <select name="have" [(ngModel)]="searchHave">
                <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
            </select>
            <br>
        </div>
        <div class="d-inline-block box-mini-filter">
            <label for="want">Currency you want: </label>
            <select name="want" [(ngModel)]="searchWant">
                <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
            </select>
            <br>
        </div>
    </div>
</div>


<div class="ads-container">

    <figure class="card snip1540" *ngFor="let ad of ads | adCityFilter:searchCity | adHaveFilter:searchHave | adWantFilter:searchWant">

        <div class="card__wrapper">
            <div class="profile-image">
                <img [src]="ad.creator.image" alt="profile-sample1" />
            </div>
            <figcaption>
                <a [routerLink]="['/ad',ad._id]">
                    <h2>{{ ad.quantity }} {{ ad.have }} to {{ ad.want }}</h2>
                    <h3>{{ ad.creator.username }} - {{ ad.city }}</h3>
                </a>
                <p>{{ ad.comment }}</p>
            </figcaption>

        </div>
    </figure>

</div>
