<h2>LISTA DE ANUNCIOS</h2>


<a [routerLink]="['/ads/new']">
    <button type="button" class="btn float-right create">CREA TU ANUNCIO</button>
</a>

<div>
    <h2>Encuentra lo que buscas!</h2>
    <br>
    <div>
        <div class="d-inline-block">
            <label for="city">City: </label>
            <input type="text" placeholder="Search by City" [ngModel]="searchCity | capitalizeFirst" (ngModelChange)="searchCity=$event">
            <br>
        </div>
        <div class="d-inline-block">
            <label for="have">Currency you have: </label>
            <select name="have" [(ngModel)]="searchHave">
                <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
            </select>
            <br>
        </div>
        <div class="d-inline-block">
            <label for="want">Currency you want: </label>
            <select name="want" [(ngModel)]="searchWant">
                <option *ngFor="let coin of currencies" [value]="coin">{{coin}}</option>
            </select>
            <br>
        </div>
    </div>
</div>


<div class="ads-container">

    <figure class="card snip1540" *ngFor="let ad of ads | adCityFilter:searchCity | adHaveFilter:searchHave | adWantFilter:searchWant">

        <div class="card__wrapper">
            <div class="profile-image">
                <img [src]="ad.creator.image" alt="profile-sample1" />
            </div>
            <figcaption>
                <a [routerLink]="['/ad',ad._id]">
                    <h2>{{ ad.quantity }} {{ ad.have }} to {{ ad.want }}</h2>
                    <h3>{{ ad.creator.username }} - {{ ad.city }}</h3>
                </a>
                <p>blabla</p>
                <!-- <p>{{ ad.comment }}blabla</p> -->
            </figcaption>

        </div>
    </figure>

</div>



<!-- <div>
  <div *ngFor="let ad of ads | adCityFilter:searchCity | adHaveFilter:searchHave | adWantFilter:searchWant">
      <a [routerLink]="['/ad',ad._id]"><h3>{{ ad.quantity }} {{ ad.have }} to
         {{ ad.want }} - {{ ad.city }} <br> by {{ ad.creator.username }} </h3></a>
  </div>
</div> -->




<!-- <article class="card" *ngFor="let ad of ads | adCityFilter:searchCity | adHaveFilter:searchHave | adWantFilter:searchWant">
    <div class="card__wrapper">

        <figure class="card__feature">
            <img src="https://www.dropbox.com/s/z7gp2vanse5djxf/waves.jpg?raw=1" class="card__img" alt="waves" width="275" height="240">
        </figure>

        <div class="card__box">

            <header class="card__item card__header">
                <h6 class="card__item card__item--small card__label">Featured</h6>

                <h2 class="card__item card__item--small card__title">{{ ad.quantity }} {{ ad.have }} to {{ ad.want }}</h2>
                <h4>{{ ad.city }}</h4>
                <h4>{{ ad.creator.username }}</h4>
            </header>

            <hr class="card__item card__divider">

            <section class="card__item card__body">
                <p>See the beautiful oceans of the Pacific coast where the water is so clean you can see the sand.</p>
            </section>

        </div>

    </div>
</article> -->