<div class="header">
  <div class="info" style="text-align:center">
  </div>
</div>
<section class="content">
    <div>
      Do you want to exchange the remaining foreign currency from your last trip? 
      Are you abroad and you need to exchange some money to the local currency? 
      You can do it here! No third parties. No fees. Up to date exchange rates. 
      Welcome to OKANE.
    </div>
    <br>
    <div>
      OKANE (money in Japanese) is a website where you can exchange currency treating directly with other users. 
      Create your profile in Sign Up (or Log In if you already have an account) and get ready!
    </div>
    <br>
    <div>
      Find what you need (or create a new post) on Board. 
      Specify the currency you have and the one you are looking for, and OKANE will show you the posts of the 
      users that have what you want with live exchange rates updated every 60 minutes.
    </div>
    <br>
    <div>
      Do you need to convert an amount into a different currency? 
      Do you want to know live foreign exchange rates and their evolution in the last week? 
      Click on Currency Tools!
    </div>  
    <br>
    <div>
      Manage your user details, update your picture, and edit or remove your posts under My Profile section.
    </div>      
  </section>
  