<div class="header">
	<div class="info" style="text-align:center"></div>
</div>

<section class="content">
	<div>
		Do you want to exchange the remaining foreign currency from your last trip? Are you abroad and you need to exchange some
		money to the local currency? You can do it here! No third parties. No fees. Up to date exchange rates. Welcome to OKANE.
	</div>
</section>
<section class="section2">
	<div class="row box-text">
		<div class="col-12 col-md-8 landing-box">
			<p>OKANE (money in Japanese) is a website where you can exchange currency treating directly with other users. Create your
				profile in Sign Up (or Log In if you already have an account) and get ready!</p>
		</div>
		<div class="col-12 col-md-4 icon-box">
			<i class="fas fa-bars"></i>
		</div>
	</div>

	<div class="row box-text">
		<div class="col-12 col-md-4 icon-box-left">
			<i class="fas fa-bars"></i>
		</div>
		<div class="col-12 col-md-8 landing-box">
			<p>Find what you need (or create a new post) on Board. Specify the currency you have and the one you are looking for, and
				OKANE will show you the posts of the users that have what you want with live exchange rates updated every 60 minutes.</p>
		</div>

	</div>

	<div class="row box-text">
		<div class="col-12 col-md-8 landing-box">
			<p>Do you need to convert an amount into a different currency? Do you want to know live foreign exchange rates and their
				evolution in the last week? Click on Currency Tools!</p>
		</div>
		<div class="col-12 col-md-4 icon-box">
			<i class="fas fa-chart-line"></i>
		</div>
	</div>

	<div class="row box-text">
			<div class="col-12 col-md-4 icon-box-left">
					<i class="fas fa-user-circle"></i>
				</div>
		<div class="col-12 col-md-8 landing-box">
			<p>Manage your user details, update your picture, and edit or remove your posts under My Profile section.</p>
		</div>
	</div>
</section>

<footer class="footer-distributed">

	<div class="footer-left">

		<h3>OKANE</h3>

		<p class="footer-links">
			<a href="#" class="link-1">Home</a>

			<a href="#">Blog</a>

			<a href="#">About</a>

			<a href="#">Faq</a>

			<a href="#">Contact</a>
		</p>

		<p class="footer-company-name">OKANE © 2018</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p>Ironhack-Madrid</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>+34.555.555.5555</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p>
				<a href="#">support@okane.com</a>
			</p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>About the company</span>
			With all my love! I will miss you a lot Ironhackers!
		</p>

		<div class="footer-icons">
			<a href="#">
				<i class="fab fa-google-plus-square"></i>
			</a>
			<a href="#">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="#">
				<i class="fab fa-twitter-square"></i>
			</a>
			<a href="https://www.linkedin.com/in/alexandra-garc%C3%ADagasco/">
				<i class="fab fa-linkedin"></i>
			</a>
			<a href="https://github.com/Samuraty">
				<i class="fab fa-github"></i>
			</a>
		</div>

	</div>
</footer>