<div class="signup-box">
  <div class="ui raised very padded center aligned text container segment">
    <h1 class="ui header">Sign Up
      <i class="fas fa-sign-in-alt"></i>
    </h1>
    <br>
    <div class="field">
      <div class="ui left icon input">
        <i class="fas fa-user"></i>
        <input type="username" name="username" [ngModel]="username | capitalizeFirst" (ngModelChange)="username=$event" placeholder="Username"
          autofocus="true">
      </div>
    </div>
    <br>
    <div class="field">
      <div class="ui left icon input">
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" autofocus="true">
      </div>
    </div>
    <br>
    <div class="field">
      <div class="ui left icon input">
        <i class="fas fa-unlock"></i>
        <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
      </div>
    </div>
    <br>

    <div class="actions">
      <button class=" ui large teal button" (click)="signup(username, email, password)">Sign In</button>
    </div>
  </div>
</div>